.container{
  background-color:  #d1411e;
  height: calc(100vh - 100px);
  overflow: hidden;
}
.arrowContainer{
      bottom: 0;
      cursor: pointer;
      height: 20%;
      margin: auto;
      position: absolute;
      top: 0;
      width: 10%;

    z-index:2;
  }
.wrapper{
      display:flex;
      height:100%;
      transition: all 1.5s ease-in-out;
      width: 300vw;
  }
.imgContainer{
      height:100%;
      position: relative;
      width:100vw;
  }