.container{
          background-color:#222;
          display:flex;
          height: calc(100vh - 100px);
  }
.item{
          display:flex;
          margin:10px 10px;
          position:relative;

        flex:1;
  }
.item:last-child {
          justify-content:space-between;
          padding:50px;

    flex:2;
  }
.card{
          padding:0 20px;

    flex:1;
  }
.title{
          color: #b7903c;
          font-size:18px;
  }
.text{
          color:#eaeaea;
  }
.motto{
        color:  rgb(211,211,211);
}