.container {
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 20px 10px;
  }    
    .desc {
        color: #444;
        font-size: 24px;
        width: 70%;
  }    
    .wrapper {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
  }    
    @media screen and (max-width: 480px) {
      .title {
          text-align: center;
    }
      .desc {
          text-align: center;
          width: 90%;
    }
  }