.container{
        display:flex;
        height: calc(100vh - 100px);
  }
.left{
            align-items:center;
            display:flex;
            height:100%;
            justify-content:center;

    flex:1;
      }
.right{
            padding:20px;

      flex:1;
;
      }
.imgContainer{
            height:80%;
            position:relative;
            width:80%;
      }
  .price{
            border-bottom:1px solid #d1411e;
            color:#d1411e;
            font-size:24px;
            font-weight:bold;
      }
  .sizes{
                   display:flex;
                   justify-content:space-between;
                   width:40%;
             }
  .small, .medium, .large{
          cursor:pointer;
          height:40px;
          margin-right:20px;
          position:relative;
          width: 40px;
    }
    .medium{
            height: 50px;
            width: 50px;
      }
    .large{
            height: 60px;
            width: 60px;
      } 
    .number{
            background-color: #008080;
            border-radius:10px;
            color:#fff;
            font-size:12px;
            padding: 2px 5px;
            position:absolute;
            right:-20px;
            top:-5px;
      }
      .checkbox{
        height:20px;
        width:20px;
  }     
      .ingredients{
           display:flex;
           margin-bottom:30px;
     }
      .option{
            align-items:center;
            display:flex;
            font-size:14px;
            font-weight:bold;
            margin-right:10px;
      }
   .quantity{
         height:30px;
         width:50px;
   }
   .button{
      background-color: #d1411e;
      border:none;
      color:#fff;
      cursor: pointer;
      font-weight:500;
      height:30px;
      margin-left:10px;
}